.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    background-color: orange;
    height: 48px;
}

.logo{
    font-size: 24px;
}

.buttons{
    font-size: 24px;
}