.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    background-color: orange;
    height: 50px;
    width: 100%;
}

.logo{
    padding-left: 2%;
    font-size: 24px;
}

.buttons{
    padding-right: 2%;
    text-align: center;
}

.buttons a{
    padding-left: 5px;
}